# looping for

## range

- cria um objeto range que é uma sequência de números
- é iterável
- pode ser utilizado em testes lógicos e com o for
- contém os parâmetros start(inclusivo), stop(exclusivo), e step

In [1]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [9]:
range(10)
list(range(10))
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [12]:
for i in range(10,41,3):
    print(i)

10
13
16
19
22
25
28
31
34
37
40

In [13]:
10 in range(20)

True

In [14]:
for i in range(10):
    print(i)
    if i == 3:
        print('Numero 3!')

0
1
2
3
Numero 3!
4
5
6
7
8
9

In [15]:
50 in range(10,100)

True

## enumerate

- retorna um objeto enumerate (enumerado)
- deve ser aplicado sobre um iterable (objeto iterável)
- possui o parâmetro start

In [16]:
nomes = ['Maria', 'João', 'José']

In [18]:
list(enumerate(nomes))

[(0, 'Maria'), (1, 'João'), (2, 'José')]

In [20]:
texto = 'Eu estou aprendento a linguagem Python'
list(enumerate(texto))

[(0, 'E'),
 (1, 'u'),
 (2, ' '),
 (3, 'e'),
 (4, 's'),
 (5, 't'),
 (6, 'o'),
 (7, 'u'),
 (8, ' '),
 (9, 'a'),
 (10, 'p'),
 (11, 'r'),
 (12, 'e'),
 (13, 'n'),
 (14, 'd'),
 (15, 'e'),
 (16, 'n'),
 (17, 't'),
 (18, 'o'),
 (19, ' '),
 (20, 'a'),
 (21, ' '),
 (22, 'l'),
 (23, 'i'),
 (24, 'n'),
 (25, 'g'),
 (26, 'u'),
 (27, 'a'),
 (28, 'g'),
 (29, 'e'),
 (30, 'm'),
 (31, ' '),
 (32, 'P'),
 (33, 'y'),
 (34, 't'),
 (35, 'h'),
 (36, 'o'),
 (37, 'n')]

In [23]:
times = ['Flamengo', 'Botafogo', 'Fluminense', 'São Paulo', 'Palmeiras']

# jeito noob
indice = 0
for time in times:
    print(indice, time)
    indice += 1

0 Flamengo
1 Botafogo
2 Fluminense
3 São Paulo
4 Palmeiras

In [26]:
# com o enumerate

for indice, time in enumerate(times, start=1):
    print(f'Time {indice}: {time}')

Time 1: Flamengo
Time 2: Botafogo
Time 3: Fluminense
Time 4: São Paulo
Time 5: Palmeiras

# loopings aninhados

In [27]:
pessoas = [ ('Maria', 37, 70), ('João', 23, 80), ('Gabriel', 15, 58), ('Lucas', 12, 39)]

In [29]:
for pessoa in pessoas:
    for dados in pessoa:  # iterando sobre a lista, que contém elementos tuplas com informações das pessoas, isso é um for aninhado
        print(dados)

Maria
37
70
João
23
80
Gabriel
15
58
Lucas
12
39

In [33]:
listaNum = [ ( 1, 2, 3), (4, 5, 6)] , [ (7, 8, 9), (10, 11, 12)]

In [34]:
for i in listaNum:
    print(i)

[(1, 2, 3), (4, 5, 6)]
[(7, 8, 9), (10, 11, 12)]

In [35]:
for i in listaNum:
    for y in i:
        print(y)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
(10, 11, 12)

In [36]:
for i in listaNum:
    for y in i:
        for z in y:
            print(z)

1
2
3
4
5
6
7
8
9
10
11
12

In [37]:
lista_plana = []

for i in listaNum:
    for y in i:
        for z in y:
            lista_plana.append(z)

In [38]:
print(lista_plana)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

# Projeto Tabuada
Utilize a linguagem Python para gerar automaticamente a tabuada de 1 a 9!

In [40]:
for numero in range(1,10):
    print(numero)

1
2
3
4
5
6
7
8
9

In [41]:
for numero in range(1, 10):
    for multiplicador in range(1, 10):
        print(numero, multiplicador)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [42]:
for numero in range(1, 10):
    print(numero)
    for multiplicador in range(1, 10):
        print(' ' + str(multiplicador))

1
 1
 2
 3
 4
 5
 6
 7
 8
 9
2
 1
 2
 3
 4
 5
 6
 7
 8
 9
3
 1
 2
 3
 4
 5
 6
 7
 8
 9
4
 1
 2
 3
 4
 5
 6
 7
 8
 9
5
 1
 2
 3
 4
 5
 6
 7
 8
 9
6
 1
 2
 3
 4
 5
 6
 7
 8
 9
7
 1
 2
 3
 4
 5
 6
 7
 8
 9
8
 1
 2
 3
 4
 5
 6
 7
 8
 9
9
 1
 2
 3
 4
 5
 6
 7
 8
 9

In [45]:
for numero in range(1, 10):
    print(f'\nTabuada do {numero}: ')
    for multiplicador in range(1, 10):
        print(multiplicador)

Tabuada do 1
1
2
3
4
5
6
7
8
9

Tabuada do 2
1
2
3
4
5
6
7
8
9

Tabuada do 3
1
2
3
4
5
6
7
8
9

Tabuada do 4
1
2
3
4
5
6
7
8
9

Tabuada do 5
1
2
3
4
5
6
7
8
9

Tabuada do 6
1
2
3
4
5
6
7
8
9

Tabuada do 7
1
2
3
4
5
6
7
8
9

Tabuada do 8
1
2
3
4
5
6
7
8
9

Tabuada do 9
1
2
3
4
5
6
7
8
9

In [48]:
for numero in range(1, 10):
    print(f'\nTabuada do {numero}: ')
    for multiplicador in range(1, 10):
        print(f'{numero} x {multiplicador} = {numero * multiplicador}')

Tabuada do 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9

Tabuada do 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

Tabuada do 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

Tabuada do 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

Tabuada do 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

Tabuada do 6:
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54

Tabuada do 7:
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

Tabuada do 8:
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72

Tabuada do 9:
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81