1. Elevando Números ao Quadrado:

Utilize a função map() junto com uma função lambda para elevar os números de uma lista ao quadrado. A lista original e a lista resultante com os quadrados devem ser impressas.

In [4]:
lista = list(range(150))
lista_quad = list(map(lambda numero: numero ** 2, lista))

In [2]:
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149]

In [5]:
print(lista_quad)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000, 10201, 10404, 10609, 10816, 11025, 11236, 11449, 11664, 11881, 12100, 12321, 12544, 12769, 12996, 13225, 13456, 13689, 13924, 14161, 14400, 14641, 14884, 15129, 15376, 15625, 15876, 16129, 16384, 16641, 16900, 17161, 17424, 17689, 17956, 18225, 18496, 18769, 19044, 19321, 19600, 19881, 20164, 20449, 20736, 21025, 21316, 21609, 21904, 22201]

2. Convertendo Unidades de Temperatura:

Crie uma função que converta temperaturas de Celsius para Fahrenheit. Utilize a função map() junto com essa função para converter uma lista de temperaturas em Celsius para Fahrenheit e imprimir os resultados.

In [6]:
lista_celsius = [20, 25, 30, 35, 40]

In [8]:
f = 13.33 * 9/5 + 32
print(f)

55.994

In [14]:
lista_fahrenheit = list(map(lambda celsius: celsius * 9/5 + 32, lista_celsius))
print(lista_fahrenheit)

[68.0, 77.0, 86.0, 95.0, 104.0]

3. Extraindo Nomes de uma Lista de Dicionários:

Crie uma lista que contenha apenas os nomes de uma lista de dicionários, onde cada dicionário possui uma chave "nome". Utilize a função map() junto com uma função lambda para extrair os nomes dos dicionários e criar a nova lista.

In [15]:
nomes = [{'Nome': 'Renato'}, {'Nome': 'Mariana'}, {'Nome': 'Zoey'}, {'Nome': 'Jack'}, {'Nome': '2B'}]

In [16]:
apenas_nomes = list(map(lambda nome: nome['Nome'], nomes))

In [17]:
apenas_nomes

['Renato', 'Mariana', 'Zoey', 'Jack', '2B']

: