# Trabalhando com arquivos CSV

- CSV - Comma Separeted Values
- podemos utilizar o módulo csv para trabalhar com esse tipo de arquivo
    - retorna um objeto _csv.reader

In [1]:
with open('dados.csv') as arquivo:
    print(arquivo.read())

josé;30
gabriel;25
lucas;15
ana;45
maria;60
victor;70

In [2]:
import csv

with open('dados.csv', 'r') as arquivo:
    arquivo_csv = csv.reader(arquivo)
    print(type(arquivo_csv))

<class '_csv.reader'>

In [4]:
with open('dados.csv', 'r') as arquivo:
    arquivo_csv = csv.reader(arquivo)
    for dado in arquivo_csv:
        print(dado)

['josé;30']
['gabriel;25']
['lucas;15']
['ana;45']
['maria;60']
['victor;70']

In [5]:
# por padrão o csv espera que o separador seja uma vírgula. então devemos passar o delimitador
with open('dados.csv', 'r') as arquivo:
    arquivo_csv = csv.reader(arquivo, delimiter=';')
    for dado in arquivo_csv:
        print(dado)

['josé', '30']
['gabriel', '25']
['lucas', '15']
['ana', '45']
['maria', '60']
['victor', '70']

In [8]:
with open('dados.csv', 'r') as arquivo:
    arquivo_csv = csv.reader(arquivo, delimiter=';')
    for dado in arquivo_csv:
        print(f'Nome: {dado[0].capitalize()} - Idade: {dado[1]}')

Nome: José - Idade: 30
Nome: Gabriel - Idade: 25
Nome: Lucas - Idade: 15
Nome: Ana - Idade: 45
Nome: Maria - Idade: 60
Nome: Victor - Idade: 70

# Trabalhando com arquivos JSON

- JSON - JavaScript Object Notation
- formato padrão para troca de mensagens entre sistemas web
- muito utilizados em bancos de dados não relacionais
- podemos utilizar o módulo JSON para trabalhar com esse tipo de arquivo
    - retorna uma lista

In [9]:
with open('dados.json', 'r') as arquivo:
    print(arquivo.read())

[
    {
      "nome": "José",
      "idade": 25
    },
    {
      "nome": "Maria",
      "idade": 19
    },
    {
      "nome": "Gabriel",
      "idade": 21
    },
    {
      "nome": "Lucas",
      "idade": 16
    }
  ]

In [10]:
import json

with open('dados.json', 'r') as arquivo:
    arquivo_json = json.load(arquivo)
    print(arquivo_json)

[{'nome': 'José', 'idade': 25}, {'nome': 'Maria', 'idade': 19}, {'nome': 'Gabriel', 'idade': 21}, {'nome': 'Lucas', 'idade': 16}]

In [11]:
with open('dados.json', 'r') as arquivo:
    arquivo_json = json.load(arquivo)
    for dado in arquivo_json:
        print(dado)

{'nome': 'José', 'idade': 25}
{'nome': 'Maria', 'idade': 19}
{'nome': 'Gabriel', 'idade': 21}
{'nome': 'Lucas', 'idade': 16}

In [12]:
with open('dados.json', 'r') as arquivo:
    arquivo_json = json.load(arquivo)
    for dado in arquivo_json:
        print(f"Nome: {dado['nome']} - Idade: {dado['idade']} ")

Nome: José - Idade: 25
Nome: Maria - Idade: 19
Nome: Gabriel - Idade: 21
Nome: Lucas - Idade: 16

# Apresentando o Pandas

- biblioteca mais popular para tratamento e análise de dados
- consegue trabalhar facilmente com vários formatos de arquivos (CSV, JSON, XLSX...)
- vamos trabalhar MUITO com a biblioteca Pandas ao longo da nossa formação!

In [13]:
import pandas as pd

## Método read_csv()
- Lê arquivos no formato CSV 
- Coloca os dados em um formato tabular chamado DataFrame

In [14]:
arquivo = pd.read_csv('dados.csv', delimiter=';')

In [15]:
arquivo

      josé  30
0  gabriel  25
1    lucas  15
2      ana  45
3    maria  60
4   victor  70

In [16]:
# ignorar a primeira linha e não transformar ela em cabeçalho
arquivo = pd.read_csv('dados.csv', delimiter=';', header=None)
arquivo

         0   1
0     josé  30
1  gabriel  25
2    lucas  15
3      ana  45
4    maria  60
5   victor  70

In [17]:
# podemos adicionar nomes para os cabeçalhos
arquivo = pd.read_csv('dados.csv', delimiter=';', header=None, names=['nome', 'idade'])
arquivo

      nome  idade
0     josé     30
1  gabriel     25
2    lucas     15
3      ana     45
4    maria     60
5   victor     70

## Método read_json()
- Lê arquivos no formato JSON 
- Coloca os dados em um formato tabular chamado DataFrame

In [18]:
arquivo = pd.read_json('dados.json')
arquivo

      nome  idade
0     José     25
1    Maria     19
2  Gabriel     21
3    Lucas     16

## Salvando um arquivo com o Pandas

In [19]:
# o index=False é para que não seja salvo no arquivo o index criado pelo pandas
arquivo.to_csv('dados_json_em_csv.csv', index=False)